name: CI

on: [push]

jobs:
  build:
    runs-on: windows
    steps:
      - name: checkout
        uses: actions/checkout@v1
      - name: Build DotNET47
        run: |
           cd "C:\Program Files (x86)\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\Bin\"
           .\MSBuild.exe $Env:GITHUB_WORKSPACE\phduarte\tetris\src
